# Lesson 10  

* From DataFrame to Excel  
* From Excel to DataFrame  
* From DataFrame to JSON  
* From JSON to DataFrame

In [17]:
import pandas as pd
import sys

# From DataFrame to Excel

In [18]:
# Create DataFrame
d = [1,2,3,4,5,6,7,8,9]
df = pd.DataFrame(d, columns = ['Number'])
df

   Number
0       1
1       2
2       3
3       4
4       5
5       6
6       7
7       8
8       9

In [19]:
# Export to Excel
df.to_excel('Lesson10.xlsx', sheet_name = 'testing', index = False)
print('Done')

Done

# From Excel to DataFrame

In [20]:
# Path to excel file
# Your path will be different, please modify the path below.
location = 'Lesson10.xlsx'

# Parse the excel file
df = pd.read_excel(location, 0)
df.head()

   Number
0       1
1       2
2       3
3       4
4       5

In [21]:
df.dtypes

Number    int64
dtype: object

In [22]:
df.tail()

   Number
4       5
5       6
6       7
7       8
8       9

# From DataFrame to JSON

In [23]:
df.to_json('Lesson10.json')
print('Done')

Done

# From JSON to DataFrame

In [24]:
# Your path will be different, please modify the path below.
jsonloc = 'Lesson10.json'

# read json file
df2 = pd.read_json(jsonloc)

In [25]:
df2

   Number
0       1
1       2
2       3
3       4
4       5
5       6
6       7
7       8
8       9

In [26]:
df2.dtypes

Number    int64
dtype: object

**Author:** [David Rojas](http://www.hedaro.com/)