In [ ]:
student_name = "<DID NOT UPDATED NAME>" # Chris Boesch

"""
Update the student_name variable above with your name. 
Extend this notebook to solve the problems at the bottom. 
From the menue Cell -> Run All
Save your notebook. 
Download your notebook. 
Create a Github Gist of your notebook. 
Submit a link to your gist in ClassMentors. 

"""

import datetime
now = datetime.datetime.now()

message = "{} ran all at {}".format(student_name, now)
print(message)

In [ ]:
from pyspark import SparkContext, SparkConf
conf = SparkConf()
sc = SparkContext(conf=conf)

In [ ]:
"""
Given this csv data, use Spark to answer the following questions. 
Write your code so that it would scale and work for ten million rows 
as well as for thew few rows provided. 

A few university students have launched a company to import animal toys in to Singapore. 
Customers bid on available orders coming from the factory overseas. 
This bidding process causes the prices for various categories of toys to rise and fall. 
The data for the past 100 orders has been saved in the file Lions-Tigers-Bears.csv. 
This data has 4 columns. 

 Toy, Category, Price per item, Quantity

The value for any given order is the price per item times the quantity. For example, 100 toys at $12 each would be a $1200 order.

"""
rawdata = """Lion,A,10,100
Tiger,B,18,200
Lion,A,11,100
Tiger,B,12,300
Lion,A,9,100
Tiger,A,14,100
Bear,B,8,100
Bear,A,6,200
Lion,B,16,100
Lion,B,15,400
Lion,B,14,100
Lion,A,11,100
Bear,B,9,200
Bear,A,5,100
Tiger,A,13,100
Tiger,B,14,200
Tiger,A,12,100
Tiger,A,11,100
Tiger,B,15,100
Lion,B,14,100
"""
data_file = open("toys.csv", "w")
data_file.write(rawdata)
data_file.close()

# Load data from file.  
data = sc.textFile("toys.csv")
print(data.collect())

In [ ]:
"""
Write the spark code to answer the following questions using the data RDD defined above. 

Q1 - Th total quantity of Toys sold per toy type. 
      Lion, 200
      Tiger, 300
Q2 - The total revenue (price * quantity) per Toy type
      Lion, 10000
      Tiger, 20000
Q3 - The number of records for each toy and category combination (Lion-A, Tiger-B). 
      Lion-A, 12
      Tiger-B, 15
Q4 - The revenue (price * quantity) per individual toy and category combination. 
      Lion-A, 5000
      Tiger-B, 7000
Q5 - The total revenue and quantity sold per individual toy and category combination. 
      (Lion,A), (5000,19)
      (Tiger,B), (7000,23)
"""


q1 = ""
q2 = ""
q3 = ""
q4 = ""
q5 = ""

print("Q1 = {}".format(q1))
print("Q2 = {}".format(q2))
print("Q3 = {}".format(q3))
print("Q4 = {}".format(q4))
print("Q5 = {}".format(q5))

In [ ]:
"""
Repeat this exercise using the data from this url. 
You will need to launch your own Jupyter server to fetch this data or 
upload this file to your Try Jupyter instance. 

https://dl.dropboxusercontent.com/u/4972572/temp/Lions-Tigers-Bears.csv

"""

In [ ]:
# Load data from file.  
data = sc.textFile("Lions-Tigers-Bears.csv")
print(data.count())

In [ ]:
"""
Write the spark code to answer the following questions using the data RDD defined above. 

Q1 - Th total quantity of Toys sold per toy type. 
      Lion, 200
      Tiger, 300
Q2 - The total revenue (price * quantity) per Toy type
      Lion, 10000
      Tiger, 20000
Q3 - The number of records for each toy and category combination (Lion-A, Tiger-B). 
      Lion-A, 12
      Tiger-B, 15
Q4 - The revenue (price * quantity) per individual toy and category combination. 
      Lion-A, 5000
      Tiger-B, 7000
Q5 - The total revenue and quantity sold per individual toy and category combination. 
      (Lion,A), (5000,19)
      (Tiger,B), (7000,23)
"""


q1 = ""
q2 = ""
q3 = ""
q4 = ""
q5 = ""

print("Q1 = {}".format(q1))
print("Q2 = {}".format(q2))
print("Q3 = {}".format(q3))
print("Q4 = {}".format(q4))
print("Q5 = {}".format(q5))

In [ ]:
"""
Perform a word count on the entire text of Green Eggs and Ham. 
You can download the text from this address and upload it to TryJupyter or your EC2 instance. 
https://dl.dropboxusercontent.com/u/4972572/temp/GreenEggsAndHam.txt

Make all words lower case. 
Remove all punctuation .,!,?, etc. 

Print the 5 words that occure the most often and their frequency. 

('this', 71)
('is', 66)
('a', 59)
('short', 51)
('example', 44)
"""

In [ ]:
data = sc.textFile("GreenEggsAndHam.txt")

# .takeOrdered(5, key=lambda x: -x[1]) will give you the largest 5 tuples sorted by value. 











for item in wordcount: 
    print(item)